<a *ngIf="type === 'Midweight'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Senior'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Frontend'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Backend'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Fullstack'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'HTML'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'CSS'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'JavaScript'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Python'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'React'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Vue'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Sass'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Ruby'" href="#">
    <span>{{ text }}</span>
</a>

<a *ngIf="type === 'Django'" href="#">
    <span>{{ text }}</span>
</a>
