<section class="row">

    <div class="box-img col-md-2">
        <img src="" alt="">
    </div>

    <div class="box-info col-md-4">

        <div class="row employer">
            <ul>
                <li>
                    <h6>IBM</h6>
                </li>
                <li class="rounded-4">B</li>
                <li class="rounded-4">C</li>
            </ul>
        </div>

        <div class="row">
            <h3>Full Stack Developer</h3>
        </div>

        <div class="row">
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </div>

    </div>

    <div class="box-skills col-md-5">
        <div class="row">
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
            </ul>
        </div>
    </div>
</section>